@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.main-container {
  max-width: 940px;
  margin-left: 350px;
  margin-right: auto;
}

body{
   background-color: #f3f5f9;
}

.gatherrhtmls-container{
  display: flex;
  position: relative;
}

.gatherrhtmls-container *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
}

.gatherrhtmls-sidebar{
  width: 270px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
  overflow: scroll;
}

.gatherrhtmls-raport, .gatherrhtmls-part, .gatherrhtmls-section {
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.gatherrhtmls-title{
  margin-left: 20px;
  margin-bottom: 30px;
}

.gatherrhtmls-title b{
  color: #fff;
  font-size: 20px;
}

.gatherrhtmls-part {
  margin-left: 15px;
}

.gatherrhtmls-part, .gatherrhtmls-raport, .gatherrhtmls-section{
  padding: 10px;
  color: #fff;
  display: block;
}

.gatherrhtmls-raport a, .gatherrhtmls-raport b, .gatherrhtmls-section a{
  color: #ffffff;
}

.gatherrhtmls-section{
  margin-left: 30px;
}

.gatherrhtmls-raport:hover, .gatherrhtmls-section:hover{
  background-color: #594f8d;
}

.gatherrhtmls-raport:hover a, .gatherrhtmls-section:hover a{
  color: #fff;
}
